.box {
    padding: 20px !important;
}
#preUpload {
    .img-div {
        position: relative;
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        .img-preview {
            opacity: 1;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: auto;
            transition: 0.5s ease;
            backface-visibility: hidden;
        }
        .middle {
            transition: 0.5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        &:hover {
            .image {
                opacity: 0.3;
            }
            .middle {
                opacity: 1;
            }
        }
    }
}
.sorttableProduct {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
    padding: 0px 40px;
    .imgThumbPro {
        .img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}
.listAttributeValue {
    .item {
        margin-bottom: 10px;
        padding: 20px 10px;
        border: 1px solid #bfbfbf;
        border-radius: 10px;
        .title {
            font-size: 18px;
            font-weight: bold;
            color: #ff421a;
            margin-bottom: 10px;
        }
        .value {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 10px;
            .valueItem {
                padding: 10px;
                border: 1px solid #bfbfbf;
                border-radius: 10px;
                position: relative;
                .name {
                    text-align: center;
                }
                .deleteValue {
                    position: absolute;
                    top: -15px;
                    right: -10px;
                    z-index: 1;
                    background-color: #000;
                    border-radius: 20px;
                    padding: 5px 7px 3px 7px;
                }
            }
        }
    }
}

.productAttribute {
    .variant-row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
}
